<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/NH%20DB%20Logo.png" />
		<link rel="apple-touch-icon" href="/NH%20DB%20Logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>NH Deserves Better</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
